/* Tangram Calendar Styles */

.tangram-grid {
  font-family: monospace;
  white-space: pre;
  line-height: 1.2;
}

.grid-row {
  margin-bottom: 0.1rem;
  line-height: 1.5rem;
}

.tangram {
  margin-bottom: 0;
  font-size: 1.5rem;
  display: inline;
}

/* Colorize tangram pieces */
.tangram-piece-0 {
    background-color: var(--piece-0-color);
}

.tangram-piece-1 {
    background-color: var(--piece-1-color);
}

.tangram-piece-2 {
    background-color: var(--piece-2-color);
}

.tangram-piece-3 {
    background-color: var(--piece-3-color);
}

.tangram-piece-4 {
    background-color: var(--piece-4-color);
}

.tangram-piece-5 {
    background-color: var(--piece-5-color);
}

.tangram-piece-6 {
    background-color: var(--piece-6-color);
}

.tangram-piece-7 {
    background-color: var(--piece-7-color);
}

.tangram-piece-8 {
    background-color: var(--piece-8-color);
}

.tangram-piece-9 {
    background-color: var(--piece-9-color);
}
