/* Tangram Calendar Styles */

.tangram-grid {
  font-family: monospace;
  white-space: pre;
  line-height: 1.2;
}

.grid-row {
  margin-bottom: 0.1rem;
  line-height: 1.5rem;
}

.tangram {
  margin-bottom: 0;
  font-size: 1.5rem;
  display: inline;
}

/* Colorize tangram pieces */
.tangram-piece-0 {
    background-color: rgb(172, 55, 55);
}

.tangram-piece-1 {
    background-color: rgb(223, 124, 44);
}

.tangram-piece-2 {
    background-color: rgb(209, 189, 9);
}

.tangram-piece-3 {
    background-color: rgb(15, 77, 15);
}

.tangram-piece-4 {
    background-color: rgb(15, 158, 146);
}

.tangram-piece-5 {
    background-color: rgb(56, 79, 184);
}

.tangram-piece-6 {
    background-color: rgb(99, 17, 131);
}

.tangram-piece-7 {
    background-color: rgb(168, 17, 136);
}

.tangram-piece-8 {
    background-color: rgb(100, 61, 9);
}

.tangram-piece-9 {
    background-color: rgb(55, 59, 66);
}

/* Add some space around the grid */
#tangram-hint, 
#tangram-solution {
  padding: 1rem;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  min-height: 200px;
}
